.content {
  position: fixed;
  top: 0;
  right: 0;
  width: 34%;
  height: 100%;
  background: #fff;
  overflow: auto;
  padding-right: 10px;
}

.isHidden {
  transform-origin: 0 0;
  transform: translateX(100%);
}
