.content {
  position: fixed;
  top: 0;
  right: 0;
  width: 34%;
  height: 100%;
  background: #fff;
  overflow: auto;
  padding-right: 10px;
  box-shadow: -3px 0 5px rgba(0, 0, 0, .15);
}

.isHidden {
  transform-origin: 0 0;
  transform: translateX(100%);
}
